Built as a single application with a unified data store GitLab Value Stream Management (VSM) allows all stakeholders from Executives to individual contributors to have visibility in the process and value associated with the software development life cycle. Gitlab VSM provides [end-to-end visibility to the entire software delivery lifecycle](https://about.gitlab.com/blog/2023/06/01/value-stream-total-time-chart/) - enabling teams and managers to understand all aspects of productivity, quality and delivery without the [“toolchain tax”](https://about.gitlab.com/solutions/value-stream-management/). As the place where work happens, GitLab can also [unite visualization with action](https://about.gitlab.com/blog/2023/06/01/value-stream-total-time-chart/), allowing users to jump from learning to doing at any time, without losing context.

Value Stream Management helps organizations understand and [optimize](https://about.gitlab.com/direction/plan/#use-devsecops-data-to-optimize-planning) the impact of their activities across the DevOps lifecycle by:
- Understanding how quickly and reliably value is being delivered to end users. 
- Identifying and removing bottlenecks to improve time to value. 
- Measuring the velocity and stability of software delivery lifecycle through [DORA metrics](https://docs.gitlab.com/ee/user/analytics/#devops-research-and-assessment-dora-key-metrics). 
- [Optimize planning](https://about.gitlab.com/direction/plan/#use-devsecops-data-to-optimize-planning) with data from across the SDLC.
- Connecting developer activities to business value delivery.

To achieve this, users can map [Value Streams](https://docs.gitlab.com/ee/user/group/value_stream_analytics/) and finds bottlenecks in their process. Value Stream Analytics provide a high-level overview of end-to-end cycle and stage times and is the  starting point for drilling down into each stage of a value stream to identify opportunities for improvements.



#### Value stream management as the framework for end-to-end DevOps analytics

In addition to the [Value Streams Dashboard](https://docs.gitlab.com/ee/user/analytics/value_streams_dashboard.html) and [Analytics](https://docs.gitlab.com/ee/user/group/value_stream_analytics/) as part of Gitlab's [Value Stream Management (VSM) solution](https://about.gitlab.com/solutions/value-stream-management/) the [Optimize group](https://about.gitlab.com/handbook/product/categories/#optimize-group) maintains a variety of actionable reports with different levels of insight into Gitlab's DevOps stages. Here is a summary of what’s available today:

<figure class="video_container">
<iframe src="https://docs.google.com/presentation/d/1yKgRXI-k5y-wgPVP2xgU0JyyxP2i0D0a6HzZcLIh8Fk/embed?start=false&loop=false&delayms=3000" frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</figure> 

<figure class="video_container">
<iframe src="https://docs.google.com/presentation/d/1LZe_wNguOjTwt9ZhEYTx7BJWsxebZYdu_sJIavDKJ_Q/embed?start=false&loop=false&delayms=3000" frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</figure> 

#### DORA metrics for optimizing engineering work in Value Stream Management

[DORA metrics are in a separate category](https://about.gitlab.com/direction/plan/dora_metrics/), however in the context of Value Stream Management, measuring DORA provides valuable insights into the speed, quality, and reliability of software delivery. 

The DORA metrics will continue to be the core measurements for engineering work in the value stream, and remain embedded in the VSM optimization flow.
