---
layout: markdown_page
title: "Category Direction - Instance Resiliency"
description: "Detect and prevent malicious activity from occurring within GitLab Instances."
canonical_path: "/direction/govern/anti-abuse/instance_resiliency/"
---

- TOC
{:toc}

# Instance Resiliency

In early 2021, we witnessed the [cryptomining CI co-evolution](https://layerci.com/blog/crypto-miners-are-killing-free-ci/), where free SaaS continuous integration platforms are being seriously compromised by the cryptocurrency mining attacks. In the wake of these industry-wide attacks, we instrumented a few practices to mitigate abuse for [on GitLab.com](https://about.gitlab.com/blog/2021/05/17/prevent-crypto-mining-abuse/), which impacts the experience of free and trial users.

Going forward, we needed a more proactive approach for monitoring, detecting, evaluating, preventing, and reacting to pipeline abuse.  Consequently the Instance Resiliency category focuses on features that help prevent and stop not only cryptomining abuse, but also any kind of behavior that might potentially compromise the safety of our users or the stability of our platform.  Most measures to prevent abuse also tend to introduce friction for end users.  This category is responsible for carefully weighing the tradeoffs of keeping the platform secure while also providing for a good end user experience.

## Confidential issues

Many issues are intentionally confidential despite our value of transparency.  This is because we don't want to make it obvious to abusers the exact details of our controls.  We aren't relying on "security by obscurity"; however, we also don't want to make it easier for the abusers.

## Stable counterparts in Pipeline Abuse Prevention

We rely on several teams to make this program successful:

| DRI       | EM        | Trust & Safety  | AppSec     | Growth PM  |
| --------- | --------- | --------------- | ---------- | ---------- |
| Sam White | Jay Swain | Joaquin Fuentes | Greg Myers | Sam Awezec |

## Areas of focus

1. Identity Verification |  | [Dashboard](https://app.periscopedata.com/app/gitlab/1145861/Anti-Abuse) |
1. Pipeline Validation Service which has rules that catch certain coding behaviors to stop bad actors before pipelines are run | [Dashboard](https://log.gprd.gitlab.net/goto/504382d6179c4ed6e7f194b41a680b18) |
1. Quota of compute minutes enforcement and limits across various levels of GitLab.com | [Dashboard](https://app.periscopedata.com/app/gitlab/1145861/Anti-Abuse) |

## Roadmap

Currently the team is focused on making changes to the signup flow to leverage more advanced data points.  This will allow us to reduce friction for legitimate users while still keeping the platform safe from abusive users.  The priority list for the Anti-Abuse group can be viewed [here](https://about.gitlab.com/direction/govern/anti-abuse/#priorities).

<p align="center">
    <i><br>
    Last Reviewed: 2024-04-16<br>
    Last Updated: 2024-04-16
    </i>
</p>
